.header-container {
  position: relative;
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.menu-navigation {
  display: flex;
  gap: 49px;
  justify-content: end;
  position: relative;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  text-decoration: none;
}

.custom-link :hover {
  background: rgba(156, 146, 248, 1);
}

.logo {
  background-image: url('./logo.png');
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  position: fixed;
}

a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
   font-weight:500;
  font-style: normal;
}