@let movies = (movies$ | async);
@let moviesData= (moviesData$ | async);
<div>
  <div class="totalCount">
    <span>Все</span>
    <span>({{ moviesData?.totalCount }})</span>
    <div>

      <div>
        @for(movie of movies;track movie.id){
        <div>
          {{movie.id}},
          {{movie.alternativeName || ''}},
          [name]={{movie.name}}
          [grade]={{movie.rating?.kp || 0}}
          [img]={{movie.poster?.url}}>

        </div>
        }
      </div>
    </div>

    <!-- @if(movies.length  < moviesData.totalCount){ <button (click)="handleShowMore()">
      Показать еще
      </button>
      } -->
  </div>