
  
  <div>
    <div class="totalCount">
      <span>Все</span>
      <span>({{ (moviesData$ | async)? .totalCount }})</span>
    <div>
    
    <div @for="let movie of (movies$ | async)">
      <div>
            [movieId]="movie.id"
            [alternativeName]="movie.alternativeName || ''"
            [name]="movie.name"
            [grade]="movie.rating?.kp || 0"
            [img]="movie.poster?.url">
        
      </div>
    </div>
  </div>
  
  <button @if="(movies$ | async)?.length < (moviesData$ | async)?.totalCount" mat-button (click)="handleShowMore()">Показать еще</button>