 .cardStyle {
     max-width: 284px;
     max-height: 480px;
     border-radius: 12px;
     position: relative,
 }

 .boxStyle {
     position: absolute;
     display: flex;
     align-items: center;
     padding-left: 1px;
     padding-top: 1, 5px;
     gap: 4px;
     background-color: #000000A6;
     border-radius: 8px;
 }

 .cardMediaStyle {
     border-radius: 8px;
 }

 .cardContentStyle {
    padding-top: 2px;
    padding-bottom: 8px;
 }

 .typographyStyle {
    color:black ;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600px;
    text-align: left;
 }